:root{
    --pink: #f72585;
    --purple: #7209b7;
    --dark-blue: #3a0ca3;
    --blue: #4361ee;
    --cyan: #4cc9f0;
}

*{
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

body{
    background-image: url(/img/181.jpg);
}

/*----------------- NAVBAR -----------------*/

.navbar{
    background: linear-gradient(to right,var(--dark-blue),var(--blue));
    height: 12vh;
}
.navbar-dark .navbar-brand{
    color: #FFF;
    text-decoration: none;
    font-family: 'Modak', cursive;
    font-size: 50px;
    text-shadow: 4px 2px 2px #2117a7;
    color:#31ce38;
    margin-left: 3rem;
    font-size: 2.3rem;
}
.navbar-dark .navbar-brand:hover{
    color: #fbff00;
    transition: ease-in 0.1s;
    transform: scale(1.1);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
    font-family: 'Fredoka One', cursive;
    margin-left: 2rem;
}
.navbar-dark .navbar-nav .nav-link:hover {
    transition: ease all 0.2s;
    border-top: 4px solid var(--pink);
    color: var(--cyan);
}

.img-carro{
    width: 100%;
    height: 500px;
}

.col{
    padding: 20px;
}

.navbar-dark .navbar-nav .nav-item .active {
    color: #fffb00;
    border-bottom: 4px solid var(--pink);
    font-weight: 750;
}

/*-----------------------BODY-------------------------------*/

/*-----------------------CARDS------------------------------*/

.post{
    margin-left: 10%;
    margin-top: 8%;
    width: 100%;
}
.col{
    padding: 35px;
}

.card:hover{
    transition: ease-in 0.2s;
    transform: scale(1.2);
    /* box-shadow: 3px 3px 15px black; */
    cursor: pointer;
}

.card-body{
    background-color: #f5eeee;
}

.card-title{
    font-family: 'Fredoka One', cursive;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    font-weight: bold;
}

.card-text{
    font-family: 'Fredoka One', cursive;
    color: #414141;
    font-size: 17px;
}

.card:not(:hover){
    transition: ease-in 0.1s;
    transform: scale(1.0);
}

.img-card{
    width: 100%;
    height: auto;
}


/*-----------------------RODAPÉ------------------------------*/

.footer-1{
    width: 100%;
    background-color: #000000;
    margin-left: 0%;
}

.textoRodape:hover{
    color: var(--cyan);
    transition: ease-in 0.1s;
    transform: scale(1.1);
}

.textoRodape{
    color: #FFF;
    text-decoration: none;
    font-family: 'Modak', cursive;   
    font-size: 50px;
    text-shadow: 4px 2px 2px #2117a7;
    margin-left: 50%;
}

.textoRodape-2{
    font-family: 'Fredoka One', cursive;
    color: #8d8d8d;
    font-size: 14px;
    text-decoration: none;
    margin-left: 35%;
    margin-top: -20px;
    font-weight: lighter; 
}

.icone{
    width: 50px;
    padding: 5px;
    margin-top: 15px;
}

.icone:hover{
    transition: ease-in 0.1s;
    transform: scale(1.2);
}

.carousel-caption{
    margin-bottom: 20%;
    border: 1px solid;
    padding: 10px;
    box-shadow: 0px 0px 15px #2117a7;
    width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.text-font{
    font-family: 'Modak', cursive;   
    font-size: 100px;
    text-shadow: 4px 2px 2px #2117a7;
}

.text-font-p{
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    text-shadow: 2px 2px 2px #2117a7;
    margin-top: -8%;
}

.link {
    text-decoration: none;
}

.card-body{
    font-family: 'Roboto Mono', monospace;  
    font-size: 20px;
    color: #000000;
}